.container-general {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 2rem 4rem;
}

@media screen and (max-width: 1270px) {
    .container-general {
        padding: 0.5rem 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .container-general {
        padding: 0 1rem;
    }
}