body,
html,
#root {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

